{% extends 'base.html.twig' %}

{% block title %}{% trans %}Contact{% endtrans %}{% endblock %}

{% block body %}
    <div class="hero-wrap hero-bread" style="background-image: url({{ asset('assets/images/bg_1.jpg') }});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="{{ path('home') }}">Accueil</a></span> <span>Panier</span></p>
                    <h1 class="mb-0 bread">Mon Panier</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th></th>
                                <th></th>
                                <th>Product name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr class="text-center">
                                    <td class="product-remove"><a href="{{ path('panier_supprimer', {'idProduit': item.produit.id}) }}"><span class="ion-ios-close"></span></a></td>

                                    <td class="image-prod">
                                        <div class="img" style="background-image:url({{ asset('assets/images/' ~ item.produit.visuel) }});"></div>
                                    </td>

                                    <td class="product-name">
                                        <h3>{{ item.produit.libelle }}</h3>
                                        <p>{{ item.produit.texte }}</p>
                                    </td>

                                    <td class="price">{{ item.produit.prix }} €</td>

                                    <td class="quantity">
                                        <a href="{{ path('panier_enlever', {'idProduit': item.produit.id, 'quantite': 1}) }}" class="buy-now">
                                            <span><i class="icon-minus-circle"></i></span>
                                        </a>

                                        {{ item.quantite }}

                                        <a href="{{ path('panier_ajouter', {'idProduit': item.produit.id, 'quantite': 1}) }}" class="buy-now">
                                            <span><i class="icon-add_circle"></i></span>
                                        </a>
                                    </td>

                                    <td class="total">{{ item.produit.prix * item.quantite }}</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                    <div class="cart-total mb-3">
                        <h3>Total du Panier</h3>
                        <p class="d-flex">
                            <span>Total</span>
                            <span>0 €</span>
                        </p>
                        <p class="d-flex">
                            <span>Livraison</span>
                            <span>Gratuite</span>
                        </p>
                        <p class="d-flex">
                            <span>Remise</span>
                            <span>0 €</span>
                        </p>
                        <hr>
                        <p class="d-flex total-price">
                            <span>Total</span>
                            <span>{{ prixTotal }} €</span>
                        </p>
                    </div>
                    {% if app.user %}
                        <p><a href="{{ path('panier_valider') }}" class="btn btn-primary py-3 px-4">Passer commande</a></p>
                    {% else %}
                        <p><a href="{{ path('utilisateur_accueil') }}" class="btn btn-primary py-3 px-4">Connectez-vous pour valider la commande</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
