{% extends 'base.html.twig' %}

{% block title %}Mon Espace Membre{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h1>Vos commandes</h1>
            {% for commande in commandes %}

                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">Commande #{{ commande.id }} - {{ commande.statutLibelle }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Passée le {{ commande.dateCommande|date('d/m/y') }}</h6>
                        <p class="card-text">
                            {% for ligneCommande in commande.ligneCommandes %}
                                {{ ligneCommande.quantite }}x {{ ligneCommande.getIdArticle().libelle }} - {{ ligneCommande.prix }} €<br/>
                            {% endfor %}
                        </p>
                    </div>
                </div>

            {% endfor %}
        </div>
    </section>
{% endblock %}