{% extends 'base.html.twig' %}

{% block title %}Gestion utilisateurs{% endblock %}

{% block body %}
    <section>
        <div class="container">
                <h1>Gestion des utilisateurs</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Email</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Est admin</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for utilisateur in utilisateurs %}
                        <tr>
                            <td>{{ utilisateur.id }}</td>
                            <td>{{ utilisateur.email }}</td>
                            <td>{{ utilisateur.nom }}</td>
                            <td>{{ utilisateur.prenom }}</td>
                            <td>
                                <a href="{{ path('utilisateur_updaterank', {'utilisateur': utilisateur.id}) }}" class="badge p-2 badge-{% if 'ROLE_ADMIN' in utilisateur.roles %}info{% else %}warning{% endif %}">{% if 'ROLE_ADMIN' in utilisateur.roles %}OUI{% else %}NON{% endif %}</a>
                                <a href="{{ path('utilisateur_delete', {'utilisateur': utilisateur.id}) }}" class="badge p-2 badge-danger">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
    </section>
{% endblock %}